python-dotenv
omegaconf
ftfy
tqdm
regex
typeguard
datasets==2.15.0
transformers>=4.31.0
bitarray
ninja
spacy
scipy
ujson
python-git
einops
git-python
timm
fairscale
einops_exts
pytrec_eval
faiss-gpu>=1.7.0
torch>=2.0.1
cairosvg
wandb
jsonlines
scikit-image
easydict